**/node_modules
plugin_packages/
plugins_folder/
git_plugins/
Dockerfile
Dockerfile.*
**/Dockerfile
**/Dockerfile.*
whale-ci.yml
deploy/whale-ci/
!deploy/whale-ci/add-trc-plugin.js
!deploy/whale-ci/patch-ts-runtime-checks.js
deploy/docker-compose-tests/
.git/
cireport.html