name: Documentation CI

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm install -g jsdoc 
      - run: npm install
      - run: jsdoc -c deploy/jsdoc.conf.json -R README.md
      - run: cp deploy/jsdoc.styles.css docs/jsdoc.styles.css
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
