div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}
input#upload_to_table {
  display: none;
}
pre.pack-display {
  white-space: pre-wrap;
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}

#footer {
  margin: 5em 0;
}

.canvas {
  min-height: 30px;
  border: 1px dashed #111111;
}
span.is-html-block {
  min-height: 30px;
  min-width: 50px;
  display: inline-block;
  border: 1px dotted #111111;
}
div.settings-panel {
  min-height: 150px;
}

span.is-builder-link {
  color: blue;
  text-decoration: underline;
}

div.card.builder {
  border: 1px solid #111111;
}

table.toolbox td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
}
table.toolbox {
  table-layout: fixed;
}
button.store-install {
  width: auto;
}

span.badge.plugin-store {
  margin-right: 0.25rem !important;
}

div.builder-embed-view {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}
div.wrap-builder-elem {
  width: 3.5rem;
  height: 3.5rem;
  border-top: 1px solid #bcbcbc;
  position: relative;
}

div.wrap-builder-elem:nth-child(1) {
  border-top: none;
}
div.wrap-builder-elem label {
  position: absolute;
  bottom: -1px;
  text-transform: uppercase;
  font-size: x-small;
}

.builder-sidebar h5 {
  text-decoration: underline;
}

div.color-type-show {
  height: 20px;
  width: 30px;
  border: 1px solid grey;
  margin-top: 2px;
}

input[type="color"].form-control {
  max-width: 80px;
}

#builder-main-canvas {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
#builder-main-canvas .selected-node {
  border: 1px dashed blue !important;
}
.builder-sidebar .builder-layers {
  max-height: 50vh;
  overflow-y: scroll;
}
button.btn.activate-formula.btn-outline-secondary:hover {
  background-color: unset;
}
