div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}
input#upload_to_table {
  display: none;
}
pre.pack-display {
  white-space: pre-wrap;
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}

#footer {
  margin: 5em 0;
}

div.canvas {
  min-height: 30px;
  border: 1px dashed #111111;
}
span.is-html-block {
  min-height: 30px;
  min-width: 50px;
  display: inline-block;
  border: 1px dashed #111111;
}
div.settings-panel {
  min-height: 150px;
}

span.is-builder-link {
  color: blue;
  text-decoration: underline;
}

div.card.builder {
  border: 1px solid #111111;
}

table.toolbox td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
}
table.toolbox {
  table-layout: fixed;
}
button.store-install {
  width: 5em;
}

span.badge.plugin-store {
  margin-right: 0.25rem !important;
}
