div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}
input#upload_to_table {
  display: none;
}
pre.pack-display {
  white-space: pre-wrap;
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}
pre.js-code-display {
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}
#footer {
  margin: 5em 0;
}

button.store-install {
  width: auto;
}

span.badge.plugin-store {
  margin-right: 0.25rem !important;
}

div.color-type-show {
  height: 20px;
  width: 30px;
  border: 1px solid grey;
  margin-top: 2px;
}

input[type="color"].form-control {
  max-width: 80px;
}

button.btn.activate-formula.btn-outline-secondary:hover {
  background-color: unset;
}

div.dropdown-menu.search-form {
  max-height: 75vh;
  overflow-y: auto;
}

.with-link:hover {
  cursor: pointer;
}

div.testrunoutput code {
  color: unset;
}
.w-1em {
  width: 1em;
  display: inline-block;
}

.mr-05 {
  margin-right: 0.125rem !important;
}

div[data-inline-edit-dest-url] .editicon {
  visibility: hidden;
}

div[data-inline-edit-dest-url]:hover .editicon {
  visibility: visible;
}
.searchbar-dropdown {
  left: unset;
}
.search-bar .input-group-text {
  background-color: unset;
  border-left: none;
  border-right: none;

  border-color: #95a5a6;
}
.search-bar input[type="search"]:not(.hasbl) {
  border-left: none;
  border-color: #95a5a6;
  padding-left: 0.3rem;
  background-color: #ffffff;
}

.search-bar input[type="search"] {
  border-color: #95a5a6;
  padding-left: 0.3rem;
  background-color: #ffffff;
}

.search-bar button.search-bar {
  border-color: #95a5a6;
  background-color: #ffffff;
}
.search-bar button.dropdown-toggle {
  border-left: none;
}

#button-search-submit {
  border-right: none;
  padding-right: 0.3rem;
}

form.menusearch button {
  border-left: none;
  padding-right: 0.3rem;
}

.pl-2p5 {
  padding-left: 0.75rem !important;
}

.br-none {
  border-right: none;
}

.plugin-section .nav-link {
  padding: 0.5rem 0.75rem;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item {
  margin: 0px;
}
.crashlog-entry {
  overflow-x: scroll;
}

.wizardStep {
  border-bottom: 3px solid grey;
}

.wizardStep.active {
  border-bottom: 3px solid black;
}
.breadcrumb-workflow + .breadcrumb-workflow::before {
  content: ">";
}
.breadcrumb-workflow span {
  border-bottom: 1px solid var(--secondary);
}
.breadcrumb-workflow.active-step span {
  border-bottom: 2px solid var(--primary);
}

#erdvis {
  height: 600px;
}

.hover-gray:hover {
  background-color: var(--gray);
}
.hover-gray-dark:hover {
  background-color: var(--gray-dark);
}
.hover-light:hover {
  background-color: var(--light);
}
.hover-dark:hover {
  background-color: var(--dark);
}
.full-page-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.text-underline {
  text-decoration: underline;
}

#scmodal .admin-edit-bar {
  display: none;
}

select.dimunit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input.dimunit {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 1px;
  border-right: none;
}

.ml-m1 {
  margin-left: -1rem;
}
.mt-m1px {
  margin-top: -1px;
}
table.table-layout-fixed {
  table-layout: fixed;
}

footer.bs-mobile-nav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

.opacity-50 {
  opacity: 0.5;
}

.welcome-page-entity-list div.table-responsive {
  max-height: max(40vh, 300px);
}

.welcome-page-entity-list {
  min-height: 35vh;
}
