div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}

pre.wsprewrap {
  white-space: pre-wrap;
}

#footer {
  margin: 5em 0;
}

div.canvas {
  min-height: 30px;
  border: 1px dashed #111111;
}
div.settings-panel {
  min-height: 150px;
}
