div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}
input#upload_to_table {
  display: none;
}
pre.pack-display {
  white-space: pre-wrap;
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}
pre.js-code-display {
  margin: 5px;
  padding: 5px;
  border: 1px dotted grey;
}
#footer {
  margin: 5em 0;
}

button.store-install {
  width: auto;
}

span.badge.plugin-store {
  margin-right: 0.25rem !important;
}

div.color-type-show {
  height: 20px;
  width: 30px;
  border: 1px solid grey;
  margin-top: 2px;
}

input[type="color"].form-control {
  max-width: 80px;
}

button.btn.activate-formula.btn-outline-secondary:hover {
  background-color: unset;
}

div.dropdown-menu.search-form {
  max-height: 75vh;
  overflow-y: auto;
}

.with-link:hover {
  cursor: pointer;
}

div.testrunoutput code {
  color: unset;
}
.w-1em {
  width: 1em;
  display: inline-block;
}

.mr-05 {
  margin-right: 0.125rem !important;
}

div[data-inline-edit-dest-url] .editicon {
  visibility: hidden;
}

div[data-inline-edit-dest-url]:hover .editicon {
  visibility: visible;
}
.searchbar-dropdown {
  left: unset;
}
.search-bar .input-group-text {
  background-color: unset;
  border-left: none;
  border-right: none;

  border-color: #95a5a6;
}
.search-bar input[type="search"]:not(.hasbl) {
  border-left: none;
  border-color: #95a5a6;
  padding-left: 0.3rem;
  background-color: #ffffff;
}

.search-bar input[type="search"] {
  border-color: #95a5a6;
  padding-left: 0.3rem;
  background-color: #ffffff;
}

.search-bar button.search-bar {
  border-color: #95a5a6;
  background-color: #ffffff;
}
.search-bar button.dropdown-toggle {
  border-left: none;
}

#button-search-submit {
  border-right: none;
  padding-right: 0.3rem;
}

form.menusearch button {
  border-left: none;
  padding-right: 0.3rem;
}

.pl-2p5 {
  padding-left: 0.75rem !important;
}

.br-none {
  border-right: none;
}

.plugin-section .nav-link {
  padding: 0.5rem 0.75rem;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item {
  margin: 0px;
}
.crashlog-entry {
  overflow-x: scroll;
}

.wizardStep {
  border-bottom: 3px solid grey;
}

.wizardStep.active {
  border-bottom: 3px solid black;
}
.breadcrumb-workflow + .breadcrumb-workflow::before {
  content: ">";
}
.breadcrumb-workflow span {
  border-bottom: 1px solid var(--secondary);
}
.breadcrumb-workflow.active-step span {
  border-bottom: 2px solid var(--primary);
}

#erdvis {
  height: 600px;
}

.hover-gray:hover {
  background-color: var(--gray);
}
.hover-gray-dark:hover {
  background-color: var(--gray-dark);
}
.hover-light:hover {
  background-color: var(--light);
}
.hover-dark:hover {
  background-color: var(--dark);
}
.full-page-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.text-underline {
  text-decoration: underline;
}

#scmodal .admin-edit-bar {
  display: none;
}

select.dimunit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input.dimunit {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 1px;
  border-right: none;
}

.ml-m1 {
  margin-left: -1rem;
}
.mt-m1px {
  margin-top: -1px;
}
table.table-layout-fixed {
  table-layout: fixed;
}

footer.bs-mobile-nav-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

.opacity-50 {
  opacity: 0.5;
}

.welcome-page-entity-list div.table-responsive {
  max-height: max(40vh, 300px);
}

.welcome-page-entity-list {
  min-height: 35vh;
}

.form-group {
  margin-bottom: 1rem;
}

.containerbgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

input.hideupdownbtns::-webkit-outer-spin-button,
input.hideupdownbtns::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.hideupdownbtns[type="number"] {
  -moz-appearance: textfield;
}

section.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

/* https://stackoverflow.com/a/31083391 */
section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
section.range-slider input[type="range"]::-moz-focus-outer {
  border: 0;
}

.btn-xs {
  padding: 0.1rem 0.4rem !important;
}

table.table-inner-grid,
table.table-inner-grid th,
table.table-inner-grid td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* https://codepen.io/pezmotion/pen/RQERdm */

.editStarRating {
  direction: rtl;
  unicode-bidi: bidi-override;
  color: #ddd;
}
.editStarRating input {
  display: none;
}
.editStarRating label:hover,
.editStarRating label:hover ~ label,
.editStarRating input:checked + label,
.editStarRating input:checked + label ~ label {
  color: #ffc107;
}

.CodeMirror {
  resize: vertical;
}

/* copied from bootstrap and adjusted to show the arrow on the left */
.card .card-header-left-collapse[data-bs-toggle="collapse"] {
  text-decoration: none;
  position: relative;
  padding: 0.75rem 3.25rem 0.75rem 1.25rem;
}
.card .card-header-left-collapse[data-bs-toggle="collapse"]::before {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 51px;
  font-weight: 900;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  color: #d1d3e2;
}
.card .card-header-left-collapse[data-bs-toggle="collapse"].collapsed {
  border-radius: 0.35rem;
}
.card .card-header-left-collapse[data-bs-toggle="collapse"].collapsed::before {
  content: "\f105";
}

.d-inline-maybe {
  display: inline;
}

.w-unset {
  width: unset;
}

.preview-text {
  transform: rotate(-30deg);
  z-index: 11;
  margin-left: 30px;
  margin-top: -5px;
}

.accordion-button:after {
  order: -1;
  margin-left: 0;
  margin-right: 0.5em;
}

.join-table-header {
  padding: 0.25rem 1rem; 
  margin-bottom: 0 !important;
  text-decoration: underline;
}