.canvas {
  min-height: 30px;
  border: 1px dashed #111111;
}
span.is-html-block {
  min-height: 30px;
  min-width: 50px;
  display: inline-block;
  border: 1px dotted #111111;
}
div.settings-panel {
  min-height: 150px;
}

span.is-builder-link {
  color: blue;
  text-decoration: underline;
}

div.card.builder {
  border: 1px solid #111111;
}

table.toolbox td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
}
table.toolbox {
  table-layout: fixed;
}

div.builder-embed-view {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}
div.toolbox-card {
  width: 8.2rem;
  margin-bottom: 1rem;
}
div.wrap-builder-elem {
  width: 50%;
  height: 4rem;
  position: relative;
}
div.toolbox-card div.wrap-builder-elem:nth-child(1) {
  border-right: 1px solid #bcbcbc;
}
div.toolbar-row {
  border-top: 1px solid #bcbcbc;
}

div.toolbar-row:nth-child(1) {
  border-top: none;
}

div.wrap-builder-elem label {
  position: absolute;
  bottom: -1px;
  text-transform: uppercase;
  font-size: x-small;
}

.builder-sidebar h5 {
  text-decoration: underline;
}

#builder-main-canvas {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

#builder-main-canvas .is-text a {
  pointer-events: none;
  text-decoration: underline;
}

#builder-main-canvas .selected-node {
  border: 1px dashed blue !important;
}

#builder-main-canvas div.root-canvas:empty:before {
  font-size: 26px;
  opacity: 0.5;
  margin-left: 10px;
  content: "Drag-and-drop components here";
}

#builder-main-canvas .image-widget {
  min-width: 15px;
  min-height: 15px;
}
.builder-sidebar .builder-layers {
  max-height: 50vh;
  overflow-y: scroll;
}
div.settings-panel input[type="number"] {
  border-width: 1px;
}

button.btnstylesel {
  padding-left: 5px;
  padding-right: 2px;
}

div.settings-panel div.rfip {
  margin: 0px;
  width: 100%;
}

div.builder-library div.rfip {
  margin: 0px;
  width: 100%;
}

div.settings-panel div.rfipbtn {
  width: 100%;
}

div.componets-and-library-accordion {
  min-height: 45vh;
}

.builder-library .dropdown {
  overflow: visible;
}

/* 
Contains code from https://github.com/tpaksu/boxmodel
Copyright (c) 2017 Taha Paksu
*/

.boxmodel-container {
  display: inline-flex;
  flex-direction: column;
  flex-flow: column wrap;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 12px;
  position: relative;
}
.boxmodel-container .boxmodel-info {
  font-size: 10px;
  font-family: Verdana;
  font-style: normal;
  text-align: left;
  line-height: 14px;
  margin: 2px 0 0 0;
  padding: 0px;
  margin-top: 2px;
}
.boxmodel-container div:not(.flex-row) {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding: 0;
  margin: 0;
}
.boxmodel-container span.boxmodel-text {
  font-size: 8.5px;
  font-family: Verdana, Geneva, sans-serif;
  display: inline-block;
  user-select: none;
}
.boxmodel-container span.boxmodel-text.boxmodel-header {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #777;
}
.boxmodel-container .boxmodel-margin {
  background: #ffffff;
  border: 1px dashed #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-border {
  background: #ddd;
  border: 2px solid #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-padding {
  background: #eee;
  border: 1px dashed #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-content {
  background: #fff;
  height: 30px;
  margin: 0;
  border: 1px solid #aaa;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}
.boxmodel-container .flex-row {
  text-align: center;
}
.boxmodel-container .boxmodel-input-direction-top,
.boxmodel-container .boxmodel-input-direction-bottom {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.boxmodel-container .boxmodel-input-direction-right,
.boxmodel-container .boxmodel-input-direction-left {
  position: relative;
}
.boxmodel-container input,
.boxmodel-container input:focus,
.boxmodel-container input:active {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
}
.boxmodel-container .dim-display {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
  width: 23px;
  height: 40px;
}

.boxmodel-container .dim-display-padding {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
  width: 23px;
  height: 30px;
}
.boxmodel-container .rotate {
  transform: rotate(90deg);
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-margin {
  background: #f9cc9d;
  border: 1px dashed #222;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-border {
  background: #ffeebc;
  border: 1px solid #000;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-padding {
  background: #c3deb7;
  border: 1px dashed #808080;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-content {
  background: #a0c5e8;
  border: 1px solid #808080;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-text {
  color: black;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-text.boxmodel-header {
  color: black;
}
