div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}

pre.wsprewrap {
  white-space: pre-wrap;
}

.split-col {
  min-height: 50px;
  border: 1px dotted black;
}

#footer {
  margin: 5em 0;
}
