.canvas:empty {
  min-height: 20px;
  min-width: 10px;
}

span.is-html-block {
  min-height: 30px;
  min-width: 50px;
  display: inline-block;
  border: 1px dotted #111111;
}
div.settings-panel {
  min-height: 150px;
}

span.is-builder-link {
  color: blue;
  text-decoration: underline;
}

div.card.builder {
  border: 1px solid #111111;
}

table.toolbox td {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
}
table.toolbox {
  table-layout: fixed;
}

div.builder-embed-view {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    );
}
div.toolbox-card {
  width: 9.2rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
div.wrap-builder-elem {
  width: 50%;
  height: 4rem;
  position: relative;
}
div.toolbox-card div.wrap-builder-elem:nth-child(1) {
  border-right: 1px solid #bcbcbc;
}
div.toolbar-row {
  border-top: 1px solid #bcbcbc;
}

div.toolbar-row:nth-child(1) {
  border-top: none;
}

div.wrap-builder-elem label {
  position: absolute;
  bottom: -1px;
  text-transform: uppercase;
  font-size: x-small;
}

.builder-sidebar h5 {
  text-decoration: underline;
}

#builder-main-canvas {
  height: calc(100vh - 70px);
  overflow-y: auto;
}

#builder-main-canvas .is-text a {
  pointer-events: none;
  text-decoration: underline;
}

#builder-main-canvas .selected-node {
  position: relative;
}

#builder-main-canvas .selected-node.is-text {
  min-height: 1rem;
  min-width: 15px;
}
#builder-main-canvas .selected-node::after {
  content: " ";
  border: 1px dashed #2680eb;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  display: block;
}

.canvas {
  outline: 1px dashed #808080;
}

#builder-main-canvas div.root-canvas {
  margin-top: 1px;
  padding: 2px;
}

#builder-main-canvas div.root-canvas:empty:before {
  font-size: 26px;
  opacity: 0.5;
  margin-left: 10px;
  content: "Drag-and-drop components here";
}

#builder-main-canvas .image-widget {
  min-width: 15px;
  min-height: 15px;
}

div.settings-panel input[type="number"] {
  border-width: 1px;
}

div.settings-panel .form-control {
  padding: 0.375rem 0.75rem;
}
div.settings-panel .form-select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

button.btnstylesel {
  padding-left: 5px;
  padding-right: 2px;
}

div.settings-panel div.rfip {
  margin: 0px;
  width: 100%;
}

div.builder-library div.rfip {
  margin: 0px;
  width: 100%;
}

div.settings-panel div.rfipbtn {
  width: 100%;
}

.left-builder-col {
  padding-right: 0px;
}

div.componets-and-library-accordion {
  min-height: 45vh;
  margin-top: -0.25rem;
}

.builder-layers {
  max-height: calc(45vh - 50px);
  overflow-y: scroll;
}

.builder-library .dropdown {
  overflow: visible;
}

/* 
Contains code from https://github.com/tpaksu/boxmodel
Copyright (c) 2017 Taha Paksu
*/

.boxmodel-container {
  display: inline-flex;
  flex-direction: column;
  flex-flow: column wrap;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 12px;
  position: relative;
}
.boxmodel-container .boxmodel-info {
  font-size: 10px;
  font-family: Verdana;
  font-style: normal;
  text-align: left;
  line-height: 14px;
  margin: 2px 0 0 0;
  padding: 0px;
  margin-top: 2px;
}
.boxmodel-container div:not(.flex-row) {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding: 0;
  margin: 0;
}
.boxmodel-container span.boxmodel-text {
  font-size: 8.5px;
  font-family: Verdana, Geneva, sans-serif;
  display: inline-block;
  user-select: none;
}
.boxmodel-container span.boxmodel-text.boxmodel-header {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #777;
}
.boxmodel-container .boxmodel-margin {
  background: #ffffff;
  border: 1px dashed #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-border {
  background: #ddd;
  border: 2px solid #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-padding {
  background: #eee;
  border: 1px dashed #aaa;
  position: relative;
}
.boxmodel-container .boxmodel-content {
  background: #fff;
  height: 30px;
  margin: 0;
  border: 1px solid #aaa;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
}
.boxmodel-container .flex-row {
  text-align: center;
}
.boxmodel-container .boxmodel-input-direction-top,
.boxmodel-container .boxmodel-input-direction-bottom {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.boxmodel-container .boxmodel-input-direction-right,
.boxmodel-container .boxmodel-input-direction-left {
  position: relative;
}
.boxmodel-container input,
.boxmodel-container input:focus,
.boxmodel-container input:active {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
}
.boxmodel-container .dim-display {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
  width: 23px;
  height: 40px;
}

.boxmodel-container .dim-display-padding {
  background: transparent;
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, sans-serif;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
  width: 23px;
  height: 30px;
}
.boxmodel-container .rotate {
  transform: rotate(90deg);
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-margin {
  background: #f9cc9d;
  border: 1px dashed #222;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-border {
  background: #ffeebc;
  border: 1px solid #000;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-padding {
  background: #c3deb7;
  border: 1px dashed #808080;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-content {
  background: #a0c5e8;
  border: 1px solid #808080;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-text {
  color: black;
}
.boxmodel-chrome-skin .boxmodel-container .boxmodel-text.boxmodel-header {
  color: black;
}

.selected-indicator {
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 24px;
  margin-top: -23px;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.selected-indicator.activeind {
  background-color: rgb(38, 128, 235);
}
.selected-indicator.hoverind {
  background-color: #5f9eec;
}
.selected-indicator .dispname {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  font-size: 12px;
  line-height: 12px;
}

.btn-builder-move {
  color: white;
}
.dropdown-menu.searchbar-dropdown.show {
  transform: translate(0px, 40px);
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
