div.form-repeat {
  border: 1px dashed black;
  padding: 3px;
}

pre.wsprewrap {
  white-space: pre-wrap;
}

.split-col {
  min-height: 50px;
}

#footer {
  margin: 5em 0;
}

div.canvas {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px dashed #111111;
}